<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   
<mapper namespace="com.demo.service.mapper.TestMapper">  
    <insert id="add" parameterType="map" useGeneratedKeys="true" keyColumn="id">  
       insert into test(name, code) values(#{name}, #{code})  
    </insert>  
    <select id="getAll" resultType="map">  
       select name,code from test
    </select>  
</mapper>  